## User-specific and Build Files
.vs/
.idea/
*.user
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

## ASP.NET Core Secrets
UserSecretsId
appsettings.Development.json

## Package Management & Frontend
node_modules/
/wwwroot/lib/
artifacts/
publish/
.vercel

## OS-specific
.DS_Store
Thumbs.db